*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   

}
header section{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#F3F3F3;
    height: 30px;
    font-size: 10px;
    padding-left: 30px;
}
.tamaño{
    width: 500px;
}
header section div ul{
    display: flex;
   list-style: none;
   align-items: center;
   gap: 1em;
   text-align: center;
}

.naranja{
    display: flex;
    justify-content: space-between;
    height: 62px;
    background-color: #F0A83E;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 10px;

}
header div img{
    display: flex;
    width: 166px;
    height: 23px;
    margin: 19px 150px 20px 40px;
    
}
header div ul{
   align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 10px;
    margin-right: 40px;
    color: white;
}
header div ul li{
    width: 48px;
    height: auto;
    margin-left: 10px;
    align-items: center;
}
header div ul li img{
    width: 15px;
    height: 14px;
}
.imagenprimera{
    background-image: url('../img/imagenbowl.png');
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: auto;
}
main section h2{
    position: relative;
    top: 165px;
    left: 958px;
    width: 400px;
    height: 50px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto';
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
}
main section h4{
    position: absolute;
    top: 330px;
    left: 1065px;
 color: black;
 font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
z-index: 10;
}
main section button{
    width: 141px;
    height: 41px;
    color: white;
    background-color: #F0A83E;
    position: absolute;
    top: 370px;
    left: 1100px;
    text-transform: uppercase;
}

footer{
    
    width: 100%;
   
    
}
footer section ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
width: 100%;
height: 350px;
bottom: 17px;
background: #3C2313;
padding: 20px 0px 20px 30px;
color: white;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

}

footer section ul li{
    position: relative;
    left:30px;
}
.gris{
    position: relative;
    left: 80px;
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
color: #8A8787;
}
.imagenlogo{
    position: relative;
    left: 800px;
    bottom: 180px;
    z-index: 10;
    display: flex;
}

footer p{
    padding-top: 7px;
    background-color: black;
    color: white;
    height: 22px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
  
}

