html{
   font-family: 'Times New Roman';
}
header img {
   display: block;
   margin:auto;
}
h1{
   color: #005677;
   background-color: #C4C4C4;
   font-family: 'Times New Roman';
   font-style: normal;
   size: 35px;
   text-align: center;

}
header{
   background-color: #E6E6E6;
}
.espacio{
   height: 100px;
}
h2{
   color: #005677;
   background-color: #C4C4C4;
   font-family: 'Times New Roman';
   font-style: normal;
   size: 20px;
   text-align: left;
}
p span {
   font-weight: bold;
}
ul li span{
   font-weight: bold;
}
a{
   color: #FFFFFF;
}
footer{
   background-color: #005677;
   color: #FFFFFF;
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
}

