*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header section{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#F3F3F3;
    height: 30px;
    font-size: 10px;
    padding-left: 30px;
    text-decoration: none;
}

header > section > label > select{
    background-color: transparent;
    border: none;
    color: aliceblue;
    text-decoration: none;
}

.naranja{
    background-color: #F0A83E;
}
header div{
    background-color: #F0A83E; 
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 24px;
    }
header div img, header div nav{
    margin-left: 15px;
}

main section{
    display: flex;
    height: 500px;
    flex:50%;
    background-image: url('../img/imagenbowl.png');
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
}
main section h2{
    background-color: white;
    font-size: 30px;
    padding: 10px;
    color:#3C2313;
    border-radius: 5px;
}

main section h4{
    font-size: 16px;
    padding: 10px;
    color:#3C2313;
    margin-right: 40px;
}
main section button{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    background-color: #F0A83E;
    color: white;
    margin-right: 90px;
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
}

main section button:hover{
    background-color: white;
    color: #F0A83E;
}
.cajacontenedor > main > div{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.caja1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 380px;
}
.caja1 h2{
  color: #3C2313;
  font-size: 40px;
  font-weight: 700;
}


.caja1 ul{
    margin: 12px;
    color: #3C2313;
    font-size: 16px;
    display:flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.caja1 ul li{
    padding-left: 10px;

}

.caja2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    font-weight: bold;
}

.caja2 p{
    color: #3C2313;
    font-size: 15px;
}
.caja2 span{
    color: #F0A83E;
    font-size: 15px;
}
.uno{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.caja3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.caja3 h3{
    color: #3C2313;
    font-size: 25px;
    margin-top: 80px;
}

form input{
    width: 257.89px;
    padding: 15px;
    font-size: 9px;
    color: white;
    background-color: #3C2313;
    border-radius: 15px;
    border: none;
    color: aliceblue;
    text-decoration: none;
    margin: 5px;

}
.formvertical{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.buttonhorizontal{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 257.89px;
    margin-left: 15px;

}
.resetear{
    background-color: #8A8787;
    border-radius: 15px;
    width: 110px;
    height: 34px;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    border: none;
    text-decoration: none;  
    margin-left: -15px;
    cursor: pointer;
}
.resetear:hover{
    background-color: black;
    color: #8A8787;
}
.enviar{
    background-color: #F0A83E;
    border-radius: 15px;
    width: 110px;
    height: 34px;
    font-size: 16px;
    color: white;
    border: none;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
}
.enviar:hover{
    background-color: black;
    color: #F0A83E;
}
.suscribe{
    display:flex;   
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    height: 60px; 
    padding: 10px;
    color: white;

}
.sub-left{
    display:flex;   
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
footer li{
    list-style: none; 
}
.sub-text{
  margin-left: 15px;
}

.sub-right{
    display:flex;   
    justify-content: flex-end;
    align-items: center;
    border: none;
    text-decoration: none;
    margin-right: 20px;
}

.contacto{
    background-color: #3C2313;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.contactoleft{
    margin-left: 10px;
}
.blanco{
   font-size: 20px;
}

.gris{
    font-size: 10px;
    color: #8A8787;
    margin-left: 65px;
}

.contactoright{
   margin-right: 30px;
}

.sub-btn{
    width: auto;
    padding: 15px;
    font-size: 9px;
    color: white;
    background-color: #3C2313;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: white;
    color: #3C2313;
    font-weight: bold;

}
.sub-input{
    width: 200px;
    padding: 15px;
    font-size: 9px;
    border-radius: 15px;
    border: none;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: white;
    margin: 5px;
}
footer .derechos{
    background-color: black;
    height: auto;
    color: white;
    text-align: center;
    font-size: 10px;
}
@media (max-width: 415px) {

    header section{
        display: none;
    }
    
    header div{
        background-color: #F0A83E; 
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: white;
        padding: 24px;
        }
    header div img, header div nav{
        margin-left: 15px;
    }
    

    main section{
        display: flex;
        padding-top: 30px;;
        height: 400px;
        background-image: url('../img/imagenbowl.png');
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        align-items: center;

    }
    main section h2{
        background-color: white;
        font-size: 20px;
        padding: 10px;
        color:#3C2313;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    
    

    .caja2{
        flex-direction: column; 
        height: 800px; 
    }
    
    .caja3{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
    }
    
    .caja3 h3{
        color: #3C2313;
        font-size: 25px;
        margin-top: 80px;
    }
    
    form input{
        width: 257.89px;
        padding: 15px;
        font-size: 9px;
        color: white;
        background-color: #3C2313;
        border-radius: 15px;
        border: none;
        color: aliceblue;
        text-decoration: none;
        margin: 5px;
    
    }
    .formvertical{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .buttonhorizontal{
        display:flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        width: 257.89px;
        margin-left: 15px;
    
    }
    .resetear{
        
        width: 50%;
        
    }
  
    .enviar{
       
        width: 50%;
        
    }
    
    .suscribe{
        display:flex;   
        justify-content: space-between;
        align-items: center;
        background-color: #F0A83E;
        height: 60px; 
        padding: 10px;
        color: white;
    
    }
    .sub-left{
        display:flex;   
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
    }
    footer li{
        list-style: none; 
    }
    .sub-text{
      margin-left: 15px;
    }
    
    .sub-right{
        display:flex;   
        justify-content: flex-end;
        align-items: center;
        border: none;
        text-decoration: none;
        margin-right: 20px;
    }
    
    .contacto{
        background-color: #3C2313;
        height: auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .contactoleft{
        margin-left: 10px;
    }
    .blanco{
       font-size: 20px;
    }
    
    .gris{
        font-size: 10px;
        color: #8A8787;
        margin-left: 65px;
    }
    
    .contactoright{
       margin-right: 30px;
    }
    
    .sub-btn{
        width: auto;
        padding: 15px;
        font-size: 9px;
        color: white;
        background-color: #3C2313;
        border-radius: 15px;
        border: none;
        text-decoration: none;
        margin: 5px;
        cursor: pointer;
    }
    .sub-btn:hover{
        background-color: white;
        color: #3C2313;
        font-weight: bold;
    
    }
    .sub-input{
        width: 200px;
        padding: 0px;
        font-size: 9px;
        border-radius: 15px;
        border: none;
        color: gray;
        text-decoration: none;
        border: none;
        background-color: white;
        margin: 5px;
    }
   